CREATE DATABASE [Application] ON  PRIMARY 
( NAME = N'Application', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AppData.mdf' , SIZE = 3072KB , FILEGROWTH = 102400KB )
 LOG ON 
( NAME = N'Application_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AppLog.ldf' , SIZE = 1024KB , FILEGROWTH = 102400KB )
GO
USE [Application]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Application] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
